body{
    color: #555555;
    font-size: 14px;
}

.bar{
    width: 100vw;
}

#base_info{
    display: flex;
    align-items: center;
}

#main_container{
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

#main_container #date{
    
}

#main_container #genre {
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px;
    margin: 0 10px;
}

#main_container .genre_event {
    background: #FF9234;
}

#main_container .genre_notice {
    background: #555555;
}

#main_container #title{
    display: inline-block;
    border-bottom: #FF9234 2px solid;
    padding: 0 5px;
}

#main_content{
    width: 88%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

#main_content p{
    margin: 25px auto;
}

#main_content .flex{
    display: flex;
}

#main_content .dot{
    margin: 0 10px;
}

#main_content .text_box{
    display: block;
    text-align: left;
}

#main_content .link{
    color: #0F70DB;
    text-decoration: none;
}
#main_content .link_img{
    width: 8px;
    margin: 0 5px;
}
